/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* font-family: 'Poppins', sans-serif;  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@400;500;600;700&display=swap');
/* font-family: 'Inter', sans-serif;*/
/* Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

/*-----Panda commerce stylesheet-----*/
body{
    font-family: 'Poppins', sans-serif; 
}
.text-primary {
    color: #1F1F1F!important
}
.text-secondary {
    color: #4E4E4E!important
}
.text-success {
    color: white!important;
}
.rounded {
    border-radius: 0.6rem!important;
}
p {
    font-family: 'Inter', sans-serif;
}
fw-medium {
    font-weight: 500;
}
/* Nav bar */
.search i {
    color: #BABABA;
    font-size: 21px
}
nav input[type=search]:focus + i {
    color: #212529!important
}
nav input[type=search]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #CCCCCC!important;
    opacity: 1; /* Firefox */
}
  
nav input[type=search]:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #CCCCCC!important;
}
  
nav input[type=search]::-ms-input-placeholder { /* Microsoft Edge */
    color: #CCCCCC!important;
}
nav input[type=search] {
    font-weight: 500;
    background-color: #F1F1F1;
    border: none;
    width: 100%;
}
/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear {
     display: none; 
     width : 0; 
     height: 0; 
}
input[type=search]::-ms-reveal { 
    display: none; 
    width : 0; 
    height: 0; 
}
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { 
    display: none; 
}
.navbar-nav {
    font-weight: 500;
}
.navbar-nav li a {
    color: #707070
}

/* Carousel */
.carousel-item img {
    width: 402px;
    height: auto;
}
.carousel-caption {
    right: initial; 
    bottom: initial;
    left: 0;
    text-align: left;
}
.carousel-inner {
    background-color: #FEEAE9;
}






@media (max-width: 991.98px) { 
    .w-lg-100{
        width: 100%;
    }
}